<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Change password</title>
  <link rel="stylesheet" href="/Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/Layout/Arabic/css/Change-password.css" media="screen">
  <link rel="stylesheet" href="Layout/Arabic/css/alert.css" media="screen">
  <script class="u-script" type="text/javascript" src="/Includes/Libraries/JQuery/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/Includes/Libraries/Bootstrap/bootstrap.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
  <meta data-intl-tel-input-cdn-path="/Includes/Libraries/intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
  <section class="u-clearfix u-section-1" id="sec-c7d8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="/api/user/update-password" method="post" target="responseFrame"
          class="u-clearfix u-form-spacing-10 u-inner-form" source="email" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-7cdd" class="u-label u-label-1">كلمة المرور الحالية</label>
            <input type="text" placeholder="ادخل كلمة مرور الحالية" id="name-7cdd" name="currentPassword"
              class="u-input u-input-rectangle u-radius u-input-1" >
          </div>
          <div class="u-form-group u-form-group-2">
            <label for="text-55ce" class="u-label u-label-2">ادخل كلمة المرور الجديدة</label>
            <input type="text" placeholder="اعد ادخال كلمة المرور" id="text-55ce" name="password"
              class="u-input u-input-rectangle u-radius u-input-2">
          </div>
          <div class="u-form-group u-form-group-3">
            <label for="text-4dd2" class="u-label u-label-3">اعد ادخال كلمة المرور</label>
            <input type="text" placeholder="اعد ادخال كلمة المرور الجديدة" id="text-4dd2" name="confirmPassword"
              class="u-input u-input-rectangle u-radius u-input-3">
          </div>
          <div class="u-align-center u-form-group" style="margin-left: 30%;">
            <button href="#" class="u-btn u-btn-round u-button-style u-radius u-btn-1">انشاء </button>
          </div>
          <div id="errorMessage" class="u-form-send-error u-form-send-message" style="display:none;">Unable to
            send your
            message. Please fix errors then try again.</div>
        </form>
      </div>
    </div>
  </section>
  <iframe id="responseFrame" name="responseFrame" style="display:none; " data-url="login"></iframe>
  <script src="Layout/Arabic/js/alert.js" defer=""></script>

</body>

</html>