<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Create Password</title>
  <link rel="stylesheet" href="../../../Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
  <link rel="stylesheet" href="../css/Create-Password.css" media="screen">
  <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/JQuery/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/Bootstrap/bootstrap.js"
    defer=""></script>
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
  <meta data-intl-tel-input-cdn-path="../../../Includes/Libraries/intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
  <section class="u-clearfix u-section-1" id="sec-c7d8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#"
          class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form"
          style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-7cdd" class="u-label u-label-1">ادخل كلمة مرور</label>
            <input type="text" placeholder="ادخل كلمة مرور يمكن تذكره" id="name-7cdd" name="password"
              class="u-input u-input-rectangle u-radius u-input-1" required="">
          </div>
          <div class="u-form-group u-form-group-2">
            <label for="text-55ce" class="u-label u-label-2">اعاده ادخال كلمة المرور</label>
            <input type="text" placeholder="اعد ادخال كلمة المرور" id="text-55ce" name="password-1"
              class="u-input u-input-rectangle u-radius u-input-2" required="required">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-radius u-btn-1">انشاء </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try
            again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>







</body>

</html>