<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="../../../Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
  <link rel="stylesheet" href="../css/Login.css" media="screen">
      <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/JQuery/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/Bootstrap/bootstrap.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
  <meta data-intl-tel-input-cdn-path="../../../Includes/Libraries/intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
  <section class="u-black u-clearfix u-valign-top-xs u-section-1" id="carousel_b48b">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-image u-image-contain u-layout-cell u-size-27 u-image-1"
            data-image-width="1500" data-image-height="1600">
            <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
          </div>
          <div
            class="u-align-left u-container-align-center u-container-style u-layout-cell u-size-33 u-white u-layout-cell-2"
            data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
            <div class="u-container-layout u-container-layout-2">
              <h2 class="u-align-center u-text u-text-grey-80 u-text-1" data-animation-name="flipIn"
                data-animation-duration="1000" data-animation-direction="X">تسجيل الدخول</h2>
              <div class="custom-expanded u-align-left u-form u-form-radios-spacing-0 u-form-1">
                <form action="#" class="u-clearfix u-form-spacing-14 u-form-vertical u-inner-form" style="padding: 0px;"
                  source="email" name="form">
                  <div class="u-form-email u-form-group u-label-top">
                    <label for="email-5a14" class="u-label u-label-1" wfd-invisible="true">البريد الالكتروني</label>
                    <input type="email" placeholder="ادخل بريد الكتروني صالح" id="email-5a14" name="email"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-1" required=""
                      maxlength="50">
                  </div>
                  <div class="u-form-group u-label-top u-form-group-2">
                    <label for="text-63ef" class="u-label u-label-2">كلمة المرور</label>
                    <input type="text" placeholder="ادخل كلمة مرور" id="text-63ef" name="Password"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-2" required="required"
                      maxlength="20">
                  </div>
                  <div class="u-align-right u-form-group u-form-submit u-label-top">
                    <a href="#"
                      class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-custom-color-6 u-palette-1-base u-radius-7 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">تسجيل
                      الدخول</a>
                    <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                  </div>
                  <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message has
                    been sent. </div>
                  <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your message.
                    Please fix errors then try again. </div>
                  <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                </form>
              </div>
              <h6 class="u-align-center u-text u-text-custom-color-4 u-text-2">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-black u-text-palette-1-base u-btn-2"
                  data-href="#" href="Register.html">ليس لدي حساب؟ انشاء حساب </a>
              </h6>
              <h6 class="u-align-center u-text u-text-custom-color-4 u-text-3">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-black u-text-palette-1-base u-btn-3"
                  data-href="#" href="Email_ForgetPassword.html">لقد نسيت كلمة المرور ؟</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







</body>

</html>