<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="../../../Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
  <link rel="stylesheet" href="../css/Register.css" media="screen">
  <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/JQuery/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/Bootstrap/bootstrap.js"
    defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
  <meta data-intl-tel-input-cdn-path="../../../Includes/Libraries/intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
  <section class="u-black u-clearfix u-section-1" id="carousel_b48b">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-image u-image-contain u-layout-cell u-size-27 u-image-1"
            data-image-width="1500" data-image-height="1600">
            <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
          </div>
          <div
            class="u-align-left u-container-align-center u-container-style u-layout-cell u-size-33 u-white u-layout-cell-2"
            data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
            <div class="u-container-layout u-container-layout-2">
              <h2 class="u-align-center u-text u-text-grey-80 u-text-1" data-animation-name="flipIn"
                data-animation-duration="1000" data-animation-direction="X">انشاء حساب جديد مجاني</h2>
              <p class="u-align-center u-text u-text-grey-40 u-text-2" data-animation-name="flipIn"
                data-animation-duration="1000" data-animation-direction="X">لا تحتاج الي الدفع&nbsp;<span
                  class="u-file-icon u-icon u-icon-1"><img src="../../images/190411.png" alt=""></span>
              </p>
              <div class="custom-expanded u-align-left u-form u-form-radios-spacing-0 u-form-1">
                <form action="#"
                  class="u-clearfix u-form-spacing-14 u-form-vertical u-inner-form" style="padding: 0px;" source="email"
                  name="form">
                  <div class="u-form-group u-form-name u-label-top u-form-group-1">
                    <label for="name-934b" class="u-label u-label-1">الاسم الكامل</label>
                    <input type="text" placeholder="ادخل اسمك" id="name-934b" name="name"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-1" required=""
                      maxlength="20">
                  </div>
                  <div class="u-form-email u-form-group u-label-top">
                    <label for="email-5a14" class="u-label u-label-2" wfd-invisible="true">البريد الالكتروني</label>
                    <input type="email" placeholder="ادخل بريد الكتروني صالح" id="email-5a14" name="email"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-2" required=""
                      maxlength="50">
                  </div>
                  <div class="u-form-group u-label-top u-form-group-3">
                    <label for="text-63ef" class="u-label u-label-3">كلمة المرور</label>
                    <input type="text" placeholder="ادخل كلمة مرور" id="text-63ef" name="Password"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-3" required="required"
                      maxlength="20">
                  </div>
                  <div class="u-form-group u-label-top u-form-group-4">
                    <label for="text-4921" class="u-label u-label-4">تأكيد كلمة المرور</label>
                    <input type="text" placeholder="اعد ادخال كلمة المرور" id="text-4921" name="password-1"
                      class="u-border-none u-grey-5 u-input u-input-rectangle u-radius u-input-4">
                  </div>
                  <div class="u-align-right u-form-group u-label-top">
                    <a href="#"
                      class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-custom-color-6 u-palette-1-base u-radius-7 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">انشاء
                      حساب </a>
                    <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                  </div>
                </form>
              </div>
              <h6 class="u-align-center u-text u-text-custom-color-4 u-text-3">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-black u-text-palette-1-base u-btn-2"
                  data-href="#" href="Login.html">لقد سجلت بالفعل؟ تسجيل الدخول </a>
              </h6>
              <div
                class="custom-expanded u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-custom-color-4 u-group u-radius u-shape-round u-group-1"
                data-href="#" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                <div
                  class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-top-xxl u-container-layout-3">
                  <p class="u-align-center u-custom-font u-heading-font u-text u-text-4"><span
                      class="u-file-icon u-icon u-icon-2"><img src="../../images/281764.png" alt=""></span>&nbsp;​تسجيل
                    الدخول
                    عبر غوغل
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







</body>

</html>